#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Courier New', monospace;
}

/* Background canvas */
.bg {
  position: fixed;
  inset: 0;
  z-index: 0;
}

/* LOGIN FRAME */
.login-card {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 35px;
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #f4372a;
  box-shadow:
    0 0 20px #f4372a88,
    inset 0 0 15px #f4372a55;
  backdrop-filter: blur(6px);
  border-radius: 12px;
  text-align: center;
}

.login-card h2 {
  color: #f4372a;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.login-card input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  background: black;
  border: 1px solid #f4372a;
  color: #fff;
  outline: none;
}

.login-card input:focus {
  box-shadow: 0 0 10px #f4372a;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #f4372a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.login-card button:hover {
  box-shadow: 0 0 15px #f4372a;
  transform: scale(1.05);
}
